@using Travellers.Entities.Concrete.Dtos;

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ShipDto

<form asp-action="Add" asp-controller="Ship" method="post">
    <h1>Ship Add</h1>

    <label>Category Id:</label>
    <input type="text" name="categoryId" /> <br />
    <label>Tour Id:</label>
    <input type="text" name="tourId" /> <br />
    <label>Ship Company:</label>
    <textarea name="shipCompany"></textarea> <br />
    <label>Ship Name:</label>
    <input type="text" name="shipName" /> <br />
    <label>Region:</label>
    <textarea name="region"></textarea> <br />
    <label>Tour Duration</label>
    <input type="text" name="tourDuration" /> <br />
    <label>Image:</label>
    <input type="text" name="image" /> <br />
    <label>Period:</label>
    <input type="date" name="numberOfRooms" /> <br />
    <label>Price:</label>
    <input type="text" name="price" /> <br />

    <input type="submit" value="Add" />
</form>

