@using Travellers.Entities.Concrete.Dtos;

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CategoryDto

<form asp-action="Update" asp-controller="Category" method="post">

    <label>Category Name</label>
    <input type="text" placeholder="Category Name" asp-for="CategoryName" value="@Model.CategoryName" />
    <input type="submit" value="Update" />

</form>

