@using Travellers.Entities.Concrete.Dtos;

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model HotelDto

<form asp-action="Add" asp-controller="Hotel" method="post">
    <h1>Hotel Add</h1>
    <label>City Id:</label>
    <input type="text" name="cityId" /> <br />
    <label>Category Id:</label>
    <input type="text" name="categoryId" /> <br />
    <label>Hotel Name:</label>
    <textarea name="hotelName"></textarea> <br />
    <label>Image:</label>
    <input type="text" name="image" /> <br />
    <label>Description:</label>
    <textarea name="description"></textarea> <br />
    <label>Date Of Entry:</label>
    <input type="date" name="dateOfEntry" /> <br />
    <label>Release Date:</label>
    <input type="date" name="releaseDate" /> <br />
    <label>Number Of Rooms:</label>
    <input type="text" name="numberOfRooms" /> <br />
    <label>Price:</label>
    <input type="text" name="price" /> <br />

    <input type="submit" value="Add" />
</form>


