
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section>
    <div class="about">

        <p>


            Travellers Hakkında <br /><br />

            Travellers olarak unutulmaz seyahat deneyimleri yaratma konusunda tutkuluyuz. Yolculuğumuz 2023 yılında
            bir grup hevesli gezginin dünyayı herkes için daha erişilebilir ve eğlenceli kılmak yönünde ortak bir
            vizyonla bir araya gelmesiyle başladı. O zamandan bu yana, kalıcı etki bırakan olağanüstü maceralar
            yaratmaya kendimizi adadık. <br /><br />

            Görevimiz <br /><br />

            Misyonumuz basit: insanlara dünyayı keşfetmeleri için ilham vermek ve olanak sağlamak. Seyahatin hayatları
            dönüştürme, ufukları genişletme ve kültürel anlayışı geliştirme gücüne sahip olduğuna inanıyoruz. Hayatın
            her kesiminden insanlar için seyahati daha erişilebilir, uygun fiyatlı ve zenginleştirici hale getirmeye
            kararlıyız. <br /><br />

            Değerlerimiz <br /><br />

            Macera: Keşfetmeyi, mümkün olanın sınırlarını zorlamayı ve sıra dışı olanı aramayı teşvik ediyoruz. <br />

            Kalite: Yolculuğunuzun her ayrıntısının olağanüstü olmasını sağlayarak yüksek kaliteli deneyimler sunmaya kendimizi adadık. <br />

            Sürdürülebilirlik: Gezegenimizin güzelliğini ve çeşitliliğini gelecek nesiller için koruyarak sorumlu turizme derinden bağlıyız. <br />

            Topluluk: Yerel topluluklarla güçlü bağlantılar kurmaya ve olumlu sosyal etkiler yaratmaya inanıyoruz. <br /><br />


            Hizmetlerimiz <br /><br />

            Travellers olarak seyahat ihtiyaçlarınızı karşılamak için geniş bir hizmet yelpazesi sunuyoruz. <br /><br />

            Otel Rezervasyonları: İster rahat bir butik otel, ister lüks bir tatil köyü olsun, yolculuğunuz için mükemmel konaklama yerini bulun. <br />

            Turlar: Kültürel, macera ve doğa odaklı deneyimler içeren özel olarak hazırlanmış turlarımızı keşfedin. <br />

            Gemi Gezisi Maceraları: Deniz yoluyla muhteşem varış noktalarını keşfederek unutulmaz yolculuklara çıkın. <br />

            Kış Kaçamakları: Kış tatili paketlerimiz ile kışın büyüsüne kapılın. <br />

            Özel Teklifler: En son seyahat promosyonlarımız ve özel tekliflerimizden haberdar olun. <br />

            Seyahat maceralarınız için Travellers'ı seçtiğiniz için teşekkür ederiz. Unutulmaz yolculuğunuzun bir parçası olmayı sabırsızlıkla bekliyoruz! <br />

        </p>

       



    </div>

    <link href="/css/index.css" rel="stylesheet" />
</section>


