
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>

    <h1 style="text-align:center">İletişim</h1>

<div class="contact-container">
    <div class="contact-info">


        <h2>İletişim Bilgileri</h2>
        <p>Adres: 1234 Kazım Karabekir Sokak No:20 Kadıköy, İstanbul</p>
        <p>Telefon: (555) 555-5555</p>
        <p>E-posta: info@travellers.com</p>
    </div>
    <div class="contact-form">


        <h2>Bize Ulaşın</h2>
        <form asp-action="Contact" asp-controller="Traveller" method="post">

            
            <label for="name">Adınız:</label>
            <input type="text" id="name" name="firstName" required>

            <label for="email">E-posta Adresiniz:</label>
            <input type="email" id="email" name="email" required>

            <label for="message">Mesajınız:</label>

            
         <textarea id="message" name="message" required></textarea>

            <button type="submit">Gönder</button>
        </form>
    </div>
</div>

<link href="/css/index.css" rel="stylesheet" />

</section>