@using Travellers.Entities.Concrete.Dtos;

 <link href="/css/index.css" rel="stylesheet" />
 @model TourDto

<section>
<div class="slider-container">
    <div class="slider">
        <img src="https://concorecdn.jollytur.com/concore/media/hero-banner/yurtici/kis-erken-rezervasyon/2023/211023.jpg">
        <img src="https://concorecdn.jollytur.com/concore/media/hero-banner/yurtdisi/ekim-firsatlari/201023.jpg">
        <img src="https://concorecdn.jollytur.com/concore/media/hero-banner/yurtici/kis-erken-rezervasyon/2023/021023.jpg">
    </div>
    <button class="prev-button">Previous</button>
    <button class="next-button">Next</button>
</div>
<script src="/js/index.js"></script>


    <div class="featured-section">
        <h2>Öne Çıkan Turlar</h2>
        <div class="featured-items">
            <div class="featured-item">
                <img src="https://cdn.tatilsepeti.com/images/kultur-turlari.jpg" />
                <h3><a href="/Tour/CulturalTours">Kapadokya Turu</a></h3>
                <p>
                    Kapadokya bölgesi, doğa ve tarihin dünyada en güzel bütünleştiği yerdir. Coğrafik olaylar
                    Peribacaları'nı oluştururken, tarihi süreçte, insanlar da, bu peribacalarının içlerine ev,
                    kilise oymuş, bunları fresklerle süsleyerek, binlerce yıllık yaşlı medeniyetlerin izlerini
                    günümüze taşımıştır.
                </p>
            </div>
            <div class="featured-item">
                <img src="https://cdn.agentis.com.tr/geziekspresi.com.tr/images/menu/mnu_1648122541.jpg">
                <h3><a href="/Tour/CulturalTours">Karadeniz Turu</a></h3>
                <p>Doğasıyla,manzarasıyla misafirlerimizi büyülemektedir. </p>
            </div>
            <div class="featured-item">
                <img src="https://cdn.touristica.com.tr/cloudimages/YD-PopulerTurlar-570x310.jpg">
                <h3><a href="/Tour/InternationalTours">Avrupa Turu</a></h3>
                <p>
                    Tek seferde Avrupa'nın pek çok ülkesini gezmeye ve keşfetmeye yarayan eğlence odaklı bir macera
                    ve kültür turudur.
                </p>
            </div>
        </div>
    </div>
</section> 













