<!DOCTYPE html>
<html>
<head>
    <title>Ana Sayfa - Tatil Seçenekleri</title>
    <link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
    <header>
        <div class="travellers">
            <div class="travellers-header">
                <div class="travellers-logo">Travellers</div>
                <div class="travellers-buttons">
                    <a href="/Account/Login">Giriş Yap</a>
                    <a href="/Account/Register">Kayıt Ol</a>
                </div>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="/">Anasayfa</a></li>
                <li class="dropdown">
                    <a href="#">Otel</a>
                    <div class="dropdown-content">
                        <a href="/Hotel/DomesticHotel">Yurt İçi Oteller</a>
                        <a href="/Hotel/InternationalHotel">Yurt Dışı Oteller</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#">Tur</a>
                    <div class="dropdown-content">
                       
                    
                            <a href="/Tour/CulturalTours">Kültür Turları</a>
                     
                      
                        <a href="/Tour/InternationalTours">Yurt Dışı Turları</a>
                    </div>
                </li>
                <li><a href="/Ship/Ship">Gemi</a></li>
                <li><a href="/Tour/FlightToTicket">Uçak Bileti</a></li>
                <li><a href="/Tour/WinterHoliday">Kış Tatili</a></li>
            </ul>
        </nav>
    </header>

  


    <section class="content">
     
       @RenderBody()
    </section>




    <footer>
        <div class="footer-content">
            <p>&copy; 2023 Travellers - Tüm hakları saklıdır.</p>
            <ul>
                <li><a href="/Traveller/About">Hakkımızda</a></li>
                <li><a href="/Traveller/Contact">İletişim</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>