/*@import "compass/css3";

$point1: 360px;
$point2: 600px;
$point3: 700px;


@mixin respond-to($media) {
    @if $media == point1 {
        @media only screen and (min-width: $point1) {
            @content;
        }
    }

    @else if $media == point2 {
        @media only screen and (min-width: $point2) {
            @content;
        }
    }

    @else if $media == point3 {
        @media only screen and (min-width: $point3) {
            @content;
        }
    }
}*/




/* =====================
   Tables
   From twitter bootstrap
   ===================== */

/*// BASE TABLES
// -----------------

table {
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

// BASELINE STYLES
// ---------------

.table {
    width: 100%;
    margin-bottom: rhythm();
    // Cells th, td

{
    padding: 8px 12px;
    line-height: rhythm();
    text-align: left;
}

th {
    font-weight: bold;
    vertical-align: bottom;
}

td {
    vertical-align: top;
}

// Remove top border from thead by default
thead:first-child tr th,
thead:first-child tr td {
    border-top: 0;
}

// Account for multiple tbody instances
tbody + tbody {
    border-top: 2px solid #ddd;
}

}



// CONDENSED TABLE W/ HALF PADDING
// -------------------------------

.table-condensed {
    th, td

{
    padding: 4px 5px;
}

}


// BORDERED VERSION
// ----------------

.table-bordered {
    border: 1px solid #ddd;
    border-collapse: separate;
    // Done so we can round those corners ! *border-collapse: collapsed;
    // IE7 can't round corners anyway @include border-radius(4px); th + th, td + td, th + td, td + th

{
    border-left: 1px solid #ddd;
}

// Prevent a double border
thead:first-child tr:first-child th,
tbody:first-child tr:first-child th,
tbody:first-child tr:first-child td {
    border-top: 0;
}

    // For first th or td in the first row in the first thead or tbody
    thead:first-child tr:first-child th:first-child,
    tbody:first-child tr:first-child td:first-child {
        @include border-radius(4px 0 0 0);
    }

    thead:first-child tr:first-child th:last-child,
    tbody:first-child tr:first-child td:last-child {
        @include border-radius(0 4px 0 0);
    }

// For first th or td in the first row in the first thead or tbody
thead:last-child tr:last-child th:first-child,
tbody:last-child tr:last-child td:first-child {
    @include border-radius(0 0 0 4px);
}

thead:last-child tr:last-child th:last-child,
tbody:last-child tr:last-child td:last-child {
    @include border-radius(0 0 4px 0);
}

}


// ZEBRA-STRIPING
// --------------

// Default zebra-stripe styles (alternating gray backgrounds)
.table-striped {
    tbody

{
    tr: nth-child(odd) td, tr:nth-child(odd) th

{
    background-color: #efefef;
}

tr:nth-child(even) td,
tr:nth-child(even) th {
    background-color: #f7f7f7;
}

}
}*/


/* =====================
   Base
   ===================== */

/*.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    font-family: arial;
    padding: 10px;
}

h1 {
    margin-top: 0;
}

.btn {
    text-align: center;
    cursor: pointer;
    padding: 4px 12px 4px;
    @include border-radius(5px);
    color: #4d4730;
    @include box-shadow(#{inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)});
    border: 1px solid lighten(#333, 50);
    &:hover

{
    color: #4d4730;
    background-color: darken(white, 10);
}

}*/

/* =====================
   Basket
   ===================== */
/*.basket {
    .product

{
    @extend .clearfix;
    position: relative;
    min-height: 50px;
    padding: 10px 5px;
    &:nth-child(odd)

{
    background-color: #efefef;
}

&:nth-child(even) {
    background-color: #f7f7f7;
}

@include respond-to(point1) {
    padding-left: 70px;
}

}

.thumbnail {
    display: none;
    float: left;
    width: 50px;
    margin-right: 1em;
    img

{
    max-width: 100%;
}

@include respond-to(point1) {
    display: block;
    position: absolute;
    top: 10px;
    left: 5px;
}

}

.info {
    @extend .clearfix;
}

.name {
    display: block;
    margin-bottom: 10px;

    @include respond-to(point2) {
        float: left;
        margin-right: 10px;
        max-width: 25%;
    }

    @include respond-to(point3) {
        max-width: 40%;
    }
}

.data {
    text-align: left;
    font-size: 15px;
    display: inline-block;
    margin: 0 10px 5px 0;
    strong

{
    margin-right: 5px;
    color: lighten(#333, 30);
    font-weight: normal;
}

form {
    display: inline;
}

}

.data-group {
    @include respond-to(point2) {
        text-align: right;
        float: right;
    }
}

}

.totals,
.basket {
    footer

{
    text-align: right;
    margin-top: 10px;
    form

{
    display: inline;
    input

{
    margin-bottom: 10px;
}

}
}
}*/


.cart-wrap {
    padding: 40px 0;
    font-family: 'Open Sans', sans-serif;
}

.main-heading {
    font-size: 19px;
    margin-bottom: 20px;
}

.table-cart table {
    width: 100%;
}

.table-cart thead {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 5px;
}

    .table-cart thead tr th {
        padding: 8px 0 18px;
        color: #484848;
        font-size: 15px;
        font-weight: 400;
    }

.table-cart tr td {
    padding: 40px 0 27px;
    vertical-align: middle;
}

    .table-cart tr td:nth-child(1) {
        width: 52%;
    }

    .table-cart tr td:nth-child(2) {
        width: 26%;
    }

    .table-cart tr td:nth-child(3) {
        width: 13.333%;
    }

    .table-cart tr td:nth-child(4) {
        width: 8.667%;
        text-align: right;
    }

    .table-cart tr td .img-product {
        width: 72px;
        float: left;
        margin-left: 8px;
        margin-right: 31px;
        line-height: 63px;
    }

        .table-cart tr td .img-product img {
            width: 100%;
        }

    .table-cart tr td .name-product {
        font-size: 15px;
        color: #484848;
        padding-top: 8px;
        line-height: 24px;
        width: 50%;
    }

    .table-cart tr td .price {
        text-align: right;
        line-height: 64px;
        margin-right: 40px;
        color: #989898;
        font-size: 16px;
        font-family: 'Nunito';
    }

    .table-cart tr td .quanlity {
        position: relative;
    }

.product-count .qtyminus,
.product-count .qtyplus {
    width: 34px;
    height: 34px;
    background: transparent;
    text-align: center;
    font-size: 19px;
    line-height: 34px;
    color: #000;
    cursor: pointer;
    font-weight: 600;
}

.product-count .qtyminus {
    line-height: 32px;
}

.product-count .qtyminus {
    border-radius: 3px 0 0 3px;
}

.product-count .qtyplus {
    border-radius: 0 3px 3px 0;
}

.product-count .qty {
    width: 60px;
    text-align: center;
    border: none;
}

.count-inlineflex {
    display: inline-flex;
    border: solid 2px #ccc;
    border-radius: 20px;
}

.total {
    font-size: 24px;
    font-weight: 600;
    color: #8660e9;
}

.display-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.coupon-box {
    padding: 63px 0 58px;
    text-align: center;
    border: 2px dotted #e5e5e5;
    border-radius: 10px;
    margin-top: 55px;
}

    .coupon-box form input {
        display: inline-block;
        width: 264px;
        margin-right: 13px;
        height: 44px;
        border-radius: 25px;
        border: solid 2px #cccccc;
        padding: 5px 15px;
        font-size: 14px;
    }

input:focus {
    outline: none;
    box-shadow: none;
}

.round-black-btn {
    border-radius: 25px;
    background: #212529;
    color: #fff;
    padding: 8px 35px;
    display: inline-block;
    border: solid 2px #212529;
    transition: all 0.5s ease-in-out 0s;
    cursor: pointer;
}

    .round-black-btn:hover,
    .round-black-btn:focus {
        background: transparent;
        color: #212529;
        text-decoration: none;
    }

.cart-totals {
    border-radius: 3px;
    background: #e7e7e7;
    padding: 25px;
}

    .cart-totals h3 {
        font-size: 19px;
        color: #3c3c3c;
        letter-spacing: 1px;
        font-weight: 500;
    }

    .cart-totals table {
        width: 100%;
    }

        .cart-totals table tr th,
        .cart-totals table tr td {
            width: 50%;
            padding: 3px 0;
            vertical-align: middle;
        }

            .cart-totals table tr td:last-child {
                text-align: right;
            }

            .cart-totals table tr td.subtotal {
                font-size: 20px;
                color: #6f6f6f;
            }

            .cart-totals table tr td.free-shipping {
                font-size: 14px;
                color: #6f6f6f;
            }

        .cart-totals table tr.total-row td {
            padding-top: 25px;
        }

        .cart-totals table tr td.price-total {
            font-size: 24px;
            font-weight: 600;
            color: #8660e9;
        }

.btn-cart-totals {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

    .btn-cart-totals .round-black-btn {
        margin: 10px 0;
    }